name: Arena Server

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - 'package.json'

jobs:
  bump-version-and-publish:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.ACCESS_TOKEN }}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
      - name: Temporarily disable "include administrators" branch protection
        uses: benjefferies/branch-protection-bot@master
        if: always()
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
      - name: 'Automated Version Bump'
        uses: 'phips28/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          tag-prefix: 'v'
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com/
          scope: '@openforis'
      - name: Install dependencies
        run: yarn install --immutable
      - run: yarn npm publish
      - name: Enable "include administrators" branch protection
        uses: benjefferies/branch-protection-bot@master
        if: always() # Force to always run this step to ensure "include administrators" is always turned back on
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          owner: openforis
          repo: arena-server
